a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav {
    font-size: 13px;
    height: 50px;
}

body {
}

footer {
    height: 50px;
    background-color: rgb(245, 245, 245);
    border: 4px gray;   
    font-size: 13px;     
}

#apps {             
    display: inline-block;
    vertical-align: middle;    
    width: 30px;
    height: 30px;
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px; 
    background-position: -132px -38px;
}

#user {
    background-image: url('https://lh3.googleusercontent.com/-Y-O8C3oySCc/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcIIfZlDPnYvLNIjfcTDMUGtmSZRg.CMID/s32-c/photo.jpg');
    background-size: 32px 32px;     
    border-radius: 50%;     
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px; 
    position: relative;  
}